body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #F6F7FA;
}

.lado-esq
{
    width: 40%;
    height: inherit;
    background-color: #1B2C42;
    display: inherit;
    justify-content: center;
    align-items: center;
}
.lado-dir
{
    width: 60%;
    height: inherit;
    display: inherit;
    justify-content: center;
    align-items: center;

}
.logo-svg
{
    margin-bottom: 250px;
}
.login-box
{
    width: 285px;
    height: 295px;
    border: 1px solid white;
}
