body
{
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	background-color: #F6F7FA;
}

.lado-esq
{
	font-family: Roboto;
	color: white;
	width: 40%;
	height: auto;
	background-color: #1B2C42;
	display: inherit;
	justify-content: center;
	align-items: center;
}
.login-box
{
	min-width: 37.5%;
	margin-left: 1em;
	margin-right: 1em;
	height: auto;
}
.login-box form
{
	text-align: center;
}
.lado-esq label
{
	width: 100%;
	text-align: center;
}
.lado-esq h2
{
	font-size: 2.25rem;
	font-weight: 700;

}
.login-input
{
	width: 100%;
	height: 2.45em;
	margin-top: 2rem;
	padding-left: 1em;
	font-size: 1.125rem;
	border: hidden;
	border-radius: 1.225em;
	color: #1F243A;
}
.login-input:focus
{
	outline: 0;
	/* box-shadow: 0 0 0 2px #1B2C42,
				0 0 0 4px #fff; */
}
.lado-esq [type='submit']
{
	min-width: 48%;
	height: 2.2em;
	border: hidden;
	border-radius: 0.37em;
	color: inherit;
	background-color: #2e7df5;
	margin-top: 2em;
	margin-bottom: 0.375em;
}
.lado-esq [type='submit']:hover
{
	background-color: hsl(216, 91%, 62%);
}
.lado-esq [type='submit']:focus
{
	outline: 0;
	box-shadow: 0 0 0 2px #1B2C42,
				0 0 0 4px #2e7df5;
	/* background-color: hsl(216, 91%, 62%); */
}
.lado-esq a
{
	color:white;
	font-size: 0.875rem;
	text-decoration: none;
}
.lado-esq a:hover
{
	text-decoration: underline;
}
.lado-esq a:focus
{
	outline: 0;
	text-decoration: underline;
}


.lado-dir
{
	width: 60%;
	height: auto;
	display: inherit;
	justify-content: center;
	align-items: center;
	
}
.logo-svg
{
	margin-bottom: 20%;
	max-width: 46.8%;
}